---
import Logo from "@/components/Logo.astro";
import menu from "@/config/menu.json";

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;
---

<header class="header pt-6">
  <nav class="navbar container flex items-center justify-between">
    <!-- logo -->
    <div>
      <Logo />
    </div>
    <!-- nav links -->
    <ul class="flex items-center gap-4">
      {
        main.map((menu) => (
          <li>
            <a href={menu.url} class="nav-link block font-medium">
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
