---
import Base from "@/layouts/Base.astro";
---

<Base>
  <section class="section">
    <div class="container">
      <div id="app"></div>
    </div>
  </section>

  <script>
    import { createElement } from "react";
    import { createRoot } from "react-dom/client";
    import App from "@/components/App";

    const root = createRoot(document.getElementById("app")!);
    root.render(createElement(App));
  </script>
</Base>
